<ion-content class="container">
  <div>
    <form [formGroup]="generoForm" (ngSubmit)="updateGenero(generoForm, id)">
      <h2> Selecione seus gêneros literários favoritos: </h2>
      <ion-item>
        <ion-label>Gêneros</ion-label>
        <ion-select cancelText="Cancelar" okText="Salvar" formControlName="genero">
            <ion-select-option value="terror">Terror</ion-select-option>
            <ion-select-option value="comédia">Comédia</ion-select-option>
            <ion-select-option value="aventura">Aventura</ion-select-option>
            <ion-select-option value="suspense">Romance</ion-select-option>
            <ion-select-option value="ficcao">Ficção</ion-select-option>
            <ion-select-option value="fantasia">Fantasia</ion-select-option>
            <ion-select-option value="biografia">Biografia</ion-select-option>
            <ion-select-option value="autobiografia">Autobiografia</ion-select-option>
            <ion-select-option value="infantil">Infanto-Juvenil</ion-select-option>
            <ion-select-option value="conto">Conto</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-button type="submit"shape="round" mode="ios">Pronto!</ion-button>
    </form>
  </div>
  </ion-content>