<ion-content class="ion-padding">
    <form [formGroup]="ofertaForm" (ngSubmit)="criaLivro(ofertaForm)">

        <ion-row>
            <ion-col size="4" class="foto">
                <div (click)="file.click()"> <!-- ao clicar abre o input -->
                    <input type="file" accept="*/image" (change)="downloadPhoto(file.files)" style="display: none" #file/> <!-- INPUT (invisível) QUE PEGA O FILE -->
                    <img *ngIf="livroObj.photo" src="{{livroObj.photo}}"/> 
                    <img *ngIf="!livroObj.photo" src="../../../assets/ler.jpg"/> 
                </div>
                <p>Clique para Alterar</p>
            </ion-col>

            <ion-col>
                <ion-item>
                    <ion-label position="floating">Título</ion-label>
                    <ion-input class="input" type="text" formControlName="name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Autor</ion-label>
                    <ion-input class="input" type="text" formControlName="autor"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Estado do livro</ion-label>
                    <ion-input class="input" type="text" formControlName="estado"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label position="floating">Preço: R$</ion-label>
                    <ion-input class="input" type="number" formControlName="preco"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>


        <ion-item>
            <ion-label position="floating">Sinopse</ion-label>
            <ion-input class="input" type="text" formControlName="resumo"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Informações da edição</ion-label>
            <ion-input class="input" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Gêneros</ion-label>
            <ion-select cancelText="Cancelar" okText="Salvar" formControlName="genero">
                <ion-select-option value="terror">Terror</ion-select-option>
                <ion-select-option value="comédia">Comédia</ion-select-option>
                <ion-select-option value="aventura">Aventura</ion-select-option>
                <ion-select-option value="suspense">Romance</ion-select-option>
                <ion-select-option value="ficcao">Ficção</ion-select-option>
                <ion-select-option value="fantasia">Fantasia</ion-select-option>
                <ion-select-option value="biografia">Biografia</ion-select-option>
                <ion-select-option value="autobiografia">Autobiografia</ion-select-option>
                <ion-select-option value="infantil">Infanto-Juvenil</ion-select-option>
                <ion-select-option value="conto">Conto</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-row class="alinhar">
            <ion-button type="submit" class="botao" [disabled]="ofertaForm.invalid">Pronto</ion-button>
            <ion-button class="botao" (click)="voltaPraHome()">Cancelar</ion-button>
        </ion-row>




    </form>

</ion-content>
