.foto {
    border: 1px solid grey;
    height: auto;
}

.input {
    --border: black;
}

.alinhar {
    display: flex;
    justify-content: space-around;
}

.botao {
    --background: #1AFFC8;
    --color: #000000;
}
