<ion-header>
    <ion-toolbar>
        <ion-title>oferta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="ofertaForm" (ngSubmit)="submitForm(registerForm)">

        <ion-row>
            <ion-col size="4" class="foto">
                <div></div>
            </ion-col>

            <ion-col>
                <ion-item [class.invalid]="ofertaForm.controls.titulo.invalid && ofertaForm.controls.titulo.touched">
                    <ion-label position="floating">Título</ion-label>
                    <ion-input class="input" type="text" formControlName="titulo"></ion-input>
                </ion-item>

                <ion-item [class.invalid]="ofertaForm.controls.autor.invalid && ofertaForm.controls.autor.touched">
                    <ion-label position="floating">Autor</ion-label>
                    <ion-input class="input" type="text" formControlName="autor"></ion-input>
                </ion-item>

                <ion-item [class.invalid]="ofertaForm.controls.estado.invalid && ofertaForm.controls.estado.touched">
                    <ion-label position="floating">Estado do livro</ion-label>
                    <ion-input class="input" type="text" formControlName="estado"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="icon">
                <ion-icon name="camera"></ion-icon>
                <ion-icon name="image"></ion-icon>
            </ion-col>
            <ion-col size="8">
                <ion-item [class.invalid]="ofertaForm.controls.preco.invalid && ofertaForm.controls.preco.touched">
                    <ion-label position="floating">Preço</ion-label>
                    <ion-input class="input" maxLength="10" type="number" formControlName="preco"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>


        <ion-item [class.invalid]="ofertaForm.controls.sinopse.invalid && ofertaForm.controls.sinopse.touched">
            <ion-label position="floating">Sinopse</ion-label>
            <ion-input class="input" maxLength="300" type="text" formControlName="sinopse"></ion-input>
        </ion-item>

        <ion-item [class.invalid]="ofertaForm.controls.info.invalid && ofertaForm.controls.info.touched">
            <ion-label position="floating">Informações da edição</ion-label>
            <ion-input class="input" maxLength="100" type="text" formControlName="info"></ion-input>
        </ion-item>

        <ion-list>
            <ion-radio-group>
                <ion-list-header>
                    <ion-label>Você está vendendo:</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-label>Unidade</ion-label>
                    <ion-radio value="unidade"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Coleção</ion-label>
                    <ion-radio value="colecao"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
        <ion-item>
            <ion-label>Gêneros</ion-label>
            <ion-select multiple="true" cancelText="Cancelar" okText="Salvar">
                <ion-select-option value="terror">Terror</ion-select-option>
                <ion-select-option value="comédia">COmédia</ion-select-option>
                <ion-select-option value="aventura">Aventura</ion-select-option>
                <ion-select-option value="suspense">Romance</ion-select-option>
                <ion-select-option value="ficcao">Ficção</ion-select-option>
                <ion-select-option value="fantasia">Fantasia</ion-select-option>
                <ion-select-option value="biografia">Biografia</ion-select-option>
                <ion-select-option value="autobiografia">Autobiografia</ion-select-option>
                <ion-select-option value="infantil">Infanto-Juvenil</ion-select-option>
                <ion-select-option value="conto">Conto</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-row class="alinhar">
            <ion-button class="botao">Pronto</ion-button>
            <ion-button class="botao">Cancelar</ion-button>
        </ion-row>




    </form>

</ion-content>
