ion-title{
    font-family: 'Bahianita', cursive;
    color:white;
    font-size: 8rem;
}

div{
    display:flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs{
    margin-top: 2%;
    width:80%;
    --background: rgba(255, 255, 255, 0.7);
}
ion-button{
    --color: #8606D4;
    --background: #ffffff;
    margin-top: 5%;
}

.container{
    --background:linear-gradient(0deg,rgba(249, 62, 255, 0.281), rgba(106, 0, 128, 0.233)), url(../../assets/ler.jpg) no-repeat center center / cover;
}