<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina&display=swap" rel="stylesheet">
<ion-content class="container">
<div>
  <ion-title>Liber</ion-title>
  <form [formGroup]="registerForm" (ngSubmit)="registrarUser( registerForm )>
    <ion-item class="inputs">
      <ion-label position="floating">Nome de usuário</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item class="inputs">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="inputs">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item class="inputs">
      <ion-label position="floating">Confirme sua senha</ion-label>
      <ion-input type="password" formControlName="passwordConfirm"></ion-input>
    </ion-item>
    <ion-button type="submit"shape="round" mode="ios" [disabled]="registerForm.invalid">Cadastrar-se</ion-button>
  </form>
</div>
</ion-content>
