<link href="https://fonts.googleapis.com/css?family=Bahianita&display=swap" rel="stylesheet">

<ion-content class="container">
<div>
  <ion-title>BookMe</ion-title>        
  <ion-item class="inputs">
    <ion-label position="floating">Nome de usuário</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item class="inputs">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item class="inputs">
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item class="inputs">
    <ion-label position="floating">Confirme sua senha</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-button shape="round" mode="ios">Cadastrar-se</ion-button>
</div>
</ion-content>
