ion-title{
    font-family: 'Baloo Bhaina', cursive;
    color:white;
    font-size: 7rem;
}

div{
    display:flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs{
    margin-top: 2%;
    --background: rgba(255, 255, 255, 0.7);
}
ion-button{
    --color: #04664F;
    --background: #ffffff;
    margin-top: 5%;
}

.container{
    --background:linear-gradient(0deg,rgba(50, 255, 187, 0.411), rgba(0, 156, 104, 0.233)), url(../../assets/ler.jpg) no-repeat center center / cover;
}