<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina&display=swap" rel="stylesheet">
<ion-content class="container">
  <div>
    <ion-title>Liber</ion-title>
    <form [formGroup]="loginForm" (ngSubmit)="logarUser(loginForm)">
      <ion-item class="inputs">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="inputs">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button type="submit"shape="round" mode="ios" [disabled]="loginForm.invalid">Logar</ion-button>
      <ion-button type="button"shape="round" mode="ios" (click)="cadastro()">Cadastre-se</ion-button>
    </form>
  </div>
</ion-content>
