<!-- <ion-row class="ion-justify-content-center"><ion-spinner class="loading" name="crescent" color="primary" duration="3000" *ngIf="loading"></ion-spinner></ion-row> -->
<ion-content *ngIf="!loading">
    <ion-card>
        <ion-card-content class="texto">
            <ion-row>
                <ion-col size="4" class="foto"><img src="../../assets/ler.jpg"></ion-col>
                <ion-col>
                    <ion-card-title>{{livro?.name}}</ion-card-title>
                    <ion-card-subtitle color="dark">{{livro?.autor}}</ion-card-subtitle>
                    <h2>R$ {{livro?.preco.toFixed(2)}}</h2>
                    <h3>Estado: {{livro?.estado}}</h3>
                </ion-col>
                </ion-row>
                <ion-item></ion-item>
                <ion-row>
                    <ion-col>
                        <strong>Sinopse:</strong>
                        <p>{{livro?.resumo}}</p>
                    </ion-col>
                </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-row></ion-row>
    <ion-row>
        <ion-col>
            infos do livro
        </ion-col>
        <ion-col>
            <ion-button *ngIf="sameUser; else editar" class="botao" (click)="compraLivro(livroId)">Comprar</ion-button>
            <ng-template #editar><ion-button class="botao" (click)="editaLivro(livroId)">Editar</ion-button></ng-template>
        </ion-col>
    </ion-row>
</ion-content>
