<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="esquerda" (click)="voltarPaginaAnterior()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col class="titulo">
          <ion-title>
            Usuários
          </ion-title>
        </ion-col>
        <ion-col class="vazia"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor=" let perfil of perfis" (click)="goToPerfil(perfil.id)">
    <ion-row>
      <ion-col>
        <img class="perfil" src="assets/perfil.jpg" alt="perfil" width="50" height="50" />
      </ion-col>
      <ion-col>
        <p>{{perfil?.name}}</p>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
