<ion-card>
    <ion-row>
      <ion-col size="4">
        <img src="../../assets/ler.jpg">
      </ion-col>
      <ion-col size="8">
        <ion-card-title> O Fabuloso Livro Azul </ion-card-title>
        <ion-card-subtitle> Andrew Lang </ion-card-subtitle>
        <ion-card-content>
          <p>Vendedor: Carlos</p>
          <p>Compra: 01/02/2020</p>
          <p>Tipo: Unidade</p>
          <p>Preço: R$17,00</p>
        </ion-card-content>
        <ion-button>Avaliar</ion-button>
      </ion-col>
    </ion-row>
</ion-card>