<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar class="header">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <span class="titulo">Liber</span>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-livro-home></app-livro-home>
  <ion-fab [hidden]="isActive()" slot="fixed" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab" (click)="praOferta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
