<ion-header>
  <ion-toolbar class="header">
    <ion-grid>
      <ion-row>
        <ion-col class="esquerda" (click)="voltarPaginaAnterior()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col class="titulo">
          <ion-title>
            Histórico
          </ion-title>
        </ion-col>
        <ion-col class="vazia"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor=" let historico of historicos">
    <ion-row>
      <ion-col size="4">
        <img src="../../assets/ler.jpg">
      </ion-col>
      <ion-col size="8">
        <ion-card-title> {{historico?.name}} </ion-card-title>
        <ion-card-subtitle>{{historico?.autor}}</ion-card-subtitle>
        <ion-card-content>
          <p>Vendedor: </p>
          <p>Compra: 01/02/2020</p>
          <p>Tipo: Unidade</p>
          <p>{{historico?.preco}}</p>
        </ion-card-content>
        <ion-button type="button" class="botao" (click)="avaliar()">Avaliar</ion-button>
        <form [hidden]="isActive()" [formGroup]="registerForm" (ngSubmit)="registrarComentario( registerForm )">
          <ion-item class="inputs">
            <ion-textarea formControlName="text"></ion-textarea>
          </ion-item>
          <ion-button class="botao" type="submit"shape="round" mode="ios">Postar</ion-button>
        </form>
      </ion-col>
    </ion-row>
</ion-card>
</ion-content>