<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="esquerda" (click)="voltarPaginaAnterior()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col class="titulo">
          <ion-title>
            Configurações
          </ion-title>
        </ion-col>
        <ion-col class="vazia"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="bolo" (click)="historico()">
      <ion-icon name="time"></ion-icon>
      <p class="palavra"> Histórico de compras </p>
    </ion-item>
    <ion-item class="bolo" (click)="listaPerfil()">
      <ion-icon name="people"></ion-icon>
      <p class="palavra"> Outros usuários </p>
    </ion-item>
    <ion-item class="bolo" (click)="logout()">
      <ion-icon name="power"></ion-icon>
      <p class="palavra"> Logout </p>
    </ion-item>
  </ion-list>

</ion-content>
